/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
&kp LA(LS(F))  &sk LS(LA(LC(DOWN_ARROW)))  &kp LEFT_BRACE  &kp RIGHT_BRACE
&kp LC(C)      &kp LC(V)                   &kp LC(X)       &none
                                                           &none            &mo 1
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
&kp Z  &kp X  &kp C  &kp V
&none  &none  &none  &none
                     &trans  &mo 0
            >;
        };
    };
};
