/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    macros {
        rcwt: rcwt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp C &kp W &kp T>;
            label = "RCWT";
        };

        rcnt: rcnt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp C &kp N &kp T>;
            label = "RCNT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
&kp LA(LS(F))  &kp LS(LA(LC(DOWN_ARROW)))  &kp LEFT_BRACE  &kp LC(Z)
&kp LC(C)      &kp LC(V)                   &kp LC(X)       &rcwt
                                                           &mo 0      &mo 1
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
&kp Z  &kp X  &kp C  &kp V
&none  &none  &none  &none
                     &mo 1  &mo 0
            >;
        };
    };
};
